body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.coronavirus-container{
  background-color: #1a1a1a;
}

/* Nav Bar Container Info */
.topnav {
  overflow: hidden;
  background-color: #333;
  height: 100px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

.ConfirmedCases-div {
  margin-left: 15px;
}

.left-country-container-div {
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align: center; 
  height: 500px;
  width: 200px;
  border-style: groove;
  background-color: #404040;
  /* border-color: #FFFFFF; */
}

.left-world-container { 
  text-align: center; 
  height: 100px;
  width: 200px;
  border-style: groove;
  outline-color: #DCDCDC;
  background-color: #404040;
}

.right-country-container-div { 
  background-color: #404040;
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align: center; 
  height: 500px;
  width: 200px;
  border-style: groove;
  /* border-color: #FFFFFF; */
}

.country-data-div{
  margin-left: 15px;
  padding-top: 10px;
  background-color: #0e1a1f;
}

.country-container-div{
  padding-left: 180px;
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align: center; 
  height: 500px;
  width: 100%;
  border-style: groove;
}

.country-container-labels-div{
  /* padding-bottom: -40px; */
  margin-top: 10px;
}

.date-time-left{
  margin-left: 15px;
  text-align: center; 
  height: 100px;
  width: 200px;
  border-style: groove;
  outline-color: #DCDCDC;
  background-color: #404040;
}

.app-grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  /* font-size: 30px;  */
  text-align: center;
}

.world-map{
  /* margin-right: 10px; */
  height: 600px;
  text-align: center; 
  border-style: groove;
  outline-color: #DCDCDC;
}

.grid-two{
  margin-left: -50px;
}

.grid-three{
  margin-left: 150px;
}

.grid-four{
  margin-left: -70px;
}

/* .world-map-info {
  margin-left: 15px;
} */

.world-map-info-container-div { 
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align: center; 
  height: 134px;
  width: 798px;
  border-style: groove;
  background-color: #404040
  /* border-color: #FFFFFF; */
}

.grid-five{
  margin-left: -282px;
}

.inside-grid-five {
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align: center; 
  height: 225px;
  width: 404px;
  border-style: groove;
  background-color: #181818;
  /* border-color: #FFFFFF; */
}

.ui.modal.transition.visible.active{
  width: 80%
}

/* .map-chart-container-div {
  background-color: #404040;
} */