body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  background-color: #1a1a1a;
}

.app {
  display: flex;  
}

.coronavirus-container{
  background-color: #1a1a1a;
}

.mobile-coronavirus-container{
  background-color: #1a1a1a;
  /* height: 200px; */
}

@media (max-width: 768px) and (min-width: 768px) {
  .mobile-coronavirus-container {
    height: 735px;
  }
}

@media (max-width: 1024px) and (min-width: 1024px) {
  .mobile-coronavirus-container {
    height: 105px;
  }
}

/* .topnav {
  overflow: hidden;
  background-color: #333;
  height: 100px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
} */

.left-country-container-div {
  overflow-x: auto; 
  overflow-y: auto; 
  text-align: center; 
  height: 500px;
  /* width: 200px; */
  min-width: 85px;
  border-style: groove;
  background-color: #404040;
  word-wrap: break-word;

}

@media (max-width: 520px) {
  .left-country-container-div {
    flex-direction: column;
    display: inline-block;
    width: 100%;
  }
}

.left-world-container { 
  text-align: center; 

  word-wrap: break-word;

  width: 100%;
  /* width: 200px; */
  min-width: 100px;

  border-style: groove;
  outline-color: #DCDCDC;
  background-color: #404040;
}



.right-country-container-div { 
  background-color: #404040;
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align: center; 
  height: 500px;
  /* width: 150px; */
  width: 80%;
  margin-left: 97px;
  border-style: groove;
}

.deaths {
  margin-left: 170px;
}


@media (max-width: 768px) and (min-width: 768px) {
  .right-country-container-div {
    height: 650px;
  }
}

@media (max-width: 1366px) and (min-width: 1366px) {
  .right-country-container-div {
    height: 831px;
  }
}

@media (max-width: 1024px) and (min-width: 1024px) {
  .right-country-container-div {
    height: 1131px;
  }
}

.desktop-confirmed-cases-and-time-div {
  width: 200px;
}

.desktop-deaths-recoveries-container{
  /* width: 200px;
  display: flex; */
}

.desktop-deaths-container{
  /* display: flex; */

}

.desktop-recoveries-container{
  /* display: flex; */
  

}

.country-data-div{
  padding-top: 10px;
  background-color: #0e1a1f;
}

.country-container-div{
  /* padding-left: 180px; */
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align: center; 
  height: 500px;
  width: 150%;
  border-style: groove;
}

.date-time-left{
  /* margin-left: 15px; */
  text-align: center; 
  height: 115px;
  /* width: 200px; */
  border-style: groove;
  outline-color: #DCDCDC;
  background-color: #404040;
}

.app-grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* padding: 20px; */
  text-align: center;
}

.grid-one{
  display: flex;
  height: 800px;
}

.grid-two{
  margin-left: -50px;
  display: flex;
  height: 800px;
}

.grid-three{
  /* margin-left: 150px; */
  display: flex;
  height: 800px;
}

.grid-four{
  /* margin-left: -70px; */
  display: flex;
  height: 800px;
}

.world-map{
  height: 600px;
  width: 790px;
  text-align: center; 
  border-style: groove;
  outline-color: #DCDCDC;
}

.world-map-info-container-div { 
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align: center; 
  height: 134px;
  width: 790px;
  border-style: groove;
  background-color: #404040
}

.grid-five{
  margin-left: -370px;
  width: 20%;
  height: 800px;
}

.inside-grid-five {
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align: center; 
  height: 225px;
  width: 400px;
  /* height: 40%;
  width: 700%; */
  margin-left: -10px;
  border-style: groove;
  background-color: #181818;
}

.ui.modal.transition.visible.active{
  width: 80%
}

.rsm-svg.world-map{
  background-color: #00001a;
}

.mobile-grid-three {
  float: left;
  width: 60%;
  position: relative;
  margin-left: -182px;
  margin-top: 5px;
}

.mobile-grid-four {
  float: left;
  width: 60%;
  position: relative;
  margin-left: 37px;
  margin-top: 5px;
}

.mobile-deaths-container {
  width: 59vw;
  /* margin: auto; */
}

.mobile-recoveries-container {
  width: 59vw;
  /* margin: auto; */
}

.mobile-map-div {
  width: 100%;
  text-align: center;
  overflow: auto;
}

.mobile-map-buttons-div {
  text-align: center;
  margin-top: -70px;
  z-index: 1;
}

.mobile-countries-data-container-div {
  height: 500px;
  width: 102%;
  overflow: auto;
}

#menuToggle
{
  display: block;
  position: relative;
  align-items: right;
  top: 50px;
  left: 50px;
  /* margin-left: 00px; */
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;

}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  margin-left: 1250px;
  /* margin-left for this and below css is for putting burger and click event on left */
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  margin-left: 1250px;
  /* margin-left for this and below css is for putting burger and click event on left */
  /* float: right; */
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  margin-left: 1700px;
  /* margin-left moves the menu itself to the right... */
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  /* transform: none; */
  transform: translateX(-600px);
  
}

.mobile-view-buttons-div {
  /* margin: 0; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 0 auto; */
  /* text-align:center; */
  margin-left: 10px;
}

.mobile-view-individual-button {
  margin-top: 5px;
  margin-left: 5px;
  color: rgb(211, 211, 211);
  height: 200%;
  background-color: #1a1a1a;
}

.footer {
  /* padding-bottom: -2000px; */
}

@media (max-width: 520px) {
  .left-country-container-div {
    /* flex-direction: column;
    background-color: red; */
  }
}